:root {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    background-color: $color-background;
}

.main-wrapper {   
    min-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;      
}

.content-wrapper {    
    display: flex;    
    flex: 1 1 auto;       
}

.details-wrapper {
    display: flex;   
    flex-grow: 2;
    min-width: 420px;        
    flex-direction: column;
    min-height: 100%;

    .global-cases {        
        display: flex;
        flex-direction: column;
        height: 8rem;        
        @include border();
        
        &__title {
            display: flex;
            @include title();
            font-size: 1rem;
            background-color: $color-primary;            
        }

        &__volume {           
            display: flex;
            @include statistic-red();
            height: 100%;
            background-color: $color-primary;
        }
    }
        
    .chart {
        @include border();        
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        @include add_information;
        height: 100%;
    }
}