@mixin border() {
    margin: 0.2rem;
    border: solid 0.05rem $color-border;
    border-radius: 2px;
}

@mixin add_information {
    font: {
        family: 'Prompt', sans-serif;
        size: 1rem;
    }
    line-height: 110%;
    letter-spacing: 0.13rem; 
    color: $color-border; 
}

@mixin title {
    font: {
        family: 'Prompt', sans-serif;
        size: 2rem;
    }
    line-height: 110%;
    letter-spacing: 0.13rem; 
    color: $color-font-grey; 
}

@mixin statistic-red {
    font: {
        family: 'Prompt', sans-serif;
        size: 1.2rem;
    }
    line-height: 110%;
    letter-spacing: 0.13rem; 
    color: $color-font-red; 
}

$color-background: #000000;
$color-primary: #2f2f2f;
$color-border: #686868;

$color-font-grey: #bdbdbd;
$color-font-red: #E60000;


:root {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: $color-background;
    color: white;
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    min-width: 500px;    
    // justify-content: space-between;
    overflow: auto;    
}

.header-wrapper {  
    display: flex; 
    
    justify-content: space-between;
    

    @include border();
    // width: 100%;
    display: flex;
    // position: relative;
    // position: absolute;
    // top: 60px;
    min-height: 60px;
    background-color: $color-primary;    
    padding: 0.4rem; 
    @include title();   
}

.header-content {
    display: flex;
}

.header-slider {
    display: flex;
    // justify-content: center;
    // align-items: center;    
}

.slider-title {
    display: flex;
    font-size: 0.8rem;
}

.content-wrapper {    
    display: flex;    
    min-height: 600px;       
}

.cases-column-wrapper {    
    display: flex;
    flex-direction: column;
    flex-grow: 2; 
    max-width: 25rem;   
    
}

.global-cases {
    // width: 100%;
    display: flex;
    background-color: $color-primary;
    height: 5rem;
    
    @include border();
    flex-direction: column;

    align-items: center;
    justify-content: center;

    &__title {
        display: flex;
        @include statistic-red();
        color: white;
        font-size: 1rem;
        
    }

    &__global-volume {
        @include statistic-red();
        font-size: 2rem;
       
    }


}

.countries-cases {
    display: flex;
    flex-direction: column;
    // width: 100%;
    background-color: $color-primary;    
    
    @include border();
    height: 100%;  
    
    &__title {
        @include title();
        font-size: 0.6rem;
        
        span {
            display: block;
            align-items: center;
            justify-content: center;
        }        
    }

    &__content {
        @include statistic-red();
    }
}

.country__flag {
    width: 50px;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    @include border();
    width: 100%;
    background-color: $color-primary;
    flex-grow: 5;
    @include add_information;
}

.details-wrapper {
    display: flex;   
    flex-grow: 5;
    min-width: 420px;
    display: flex;    
    flex-direction: column;

    .global-details {
        
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        // min-height: 15rem;
        
        @include border();
        
        &__title {
            @include title();
            font-size: 1rem;
            min-height: 3rem;
            background-color: $color-primary;
        }

        &__global-volume {
            
            display: flex;
            @include statistic-red();
            height: 100%;
            background-color: $color-primary;
        }

        &__volume {
            min-height: 15rem;
            @include border();
            display: flex;
            @include statistic-red();
            height: 100%;
            background-color: $color-primary;
        }
    }
        
    .chart {
        @include border();
        min-height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        height: 100%;
        @include add_information;
    }
}

//SLIDER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



.slider-header {
    align-self: center;
    position: relative;
    // top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    background: $color-border;
    outline: none;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

input:checked[type="checkbox"] {
    background: $color-background;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: $color-font-red;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

input:checked[type="checkbox"]:before {
    left: 25px;
}










// .logo {
//     display: flex;
//     flex-direction: column;
    
//     &__title {
//         color: $color-primary;
//         @include logo_title();
//     }

//     &__subtitle {
//         margin-top: 10px;
//         text-align: center;
//         color: $color-light-xl;
//         @include logo_subtitle();
//     }
// }

// .list {
//     display: flex;
//     justify-content: space-between;
//     list-style-type: none;
//     width : 100%;
    

//     .list__item {
//         display: flex;
//         align-items: center;
        

        
//         .list__link {
//             color: color-light-xl;
//             @include paragraph-l();
//             text-decoration: none;

//             &_active {
//                 border-bottom: solid 3px $color-primary;
//                 color: $color-light-s; 
//                 cursor: pointer;           
//             }
            
//             &_disabled {
//                 color: $color-dark-s;
//             }

//             &_enabled {
//                 color: $color-dark-s;                
//             }
            
//             &_enabled:hover  {
//                 border-bottom: solid 3px $color-primary;
//                 color: $color-light-s;            
//             }

//         }
//     }
// }

// .main {
//     display: flex;
//     flex-direction: column;    
// }

// .hero {
//     display: flex;  
//     padding-top: 180px;
//     background: $start-screen-gradient-background; 
    
//     &__content {
//         display: flex;
//     }

//     &__image-wrapper {
//         display: flex;
//     }

//     &__image {
//         width: 100vw;
//         max-width: 698px;
//         max-height: 728px;
//     }
// }

// .content-section {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding-bottom: 80px;
        
//     &__title {
//         color: $color-light-xl;
//         max-width: 310px;
//         @include h2();   
//     }
    
//     &__subtitle {
//         margin-top: 42px;
//         padding-right: 42px;
//         color: $color-dark-s;
//         @include paragraph-l();  
//     }
    
//     &__button {
//         margin-top: 40px;
//         @include button_primary();      
//     }
// }

// .about {
//     display: flex;
    
//     &__wrapper {
//         width: 100%;
//         display: flex;
//         padding: 80px 175px 100px 175px;
//         justify-content: space-between;
//     }

//     &__image-wrapper {
//         display: flex;
//     }

//     &__content {
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         max-width: 430px;
//     }

//     &__title {
//         span {
//             display: block;
//         }

//         color: $color-dark-l;
//         @include h3;
//     }

//     &__description {
//         margin-top: 25px;

//         p {
//             & + p {
//                 margin-top: 25px;
//             }

//             color: $color-dark-xl;
//             @include paragraph-l();
//         }
//     }
// }

// .pets {
//     padding-top: 80px;
//     padding-bottom: 100px;
//     background-color: $color-light-l;

//     &__wrapper {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;        
//     }

//     &__button {
//         @include button_primary();
//     }

//     &__title {
//         span {
//             display: block;
//         }

//         color: $color-dark-l;
//         @include h3();
//         max-width: 400px;
//         text-align: center;
//     }

//     &__content {
//         display: flex;
//         align-items: center;

//         .pets-cards {
//             display: flex;
//             padding: 0 8px;
                                 
//         }

//         .pets-card {
//             display: flex;
//             flex-direction: column;
//             border-radius: 9px;
//             margin: 60px 45px 59px;
//             padding: 0 0;
//             background-color: $color-light-s;

//             &:hover {
//                 box-shadow: $card-hover;
//             }
            
//             &__image {
//                 width: 100%
                 
//             }

//             &__content {
//                 align-items: center;
//                 display: flex;
//                 flex-direction: column; 
//                 padding-bottom: 30px;  
//             }

//             &__title {
//                 @include h4;
//                 text-align: center;
//                 margin: 30px 0;
//             }

//             &__button {
//                 @include button_secondary();   
//             }
//         }

//         .slider-button {
//             @include slider_button();
//         }
        
//         .slider-button_reverted {
//             @include slider_button();
//             transform: rotate(180deg);
//         }        
//     }    
// }

// .help {
//     margin-top: 83px;
//     margin-bottom: 100px;

//     &__wrapper {
//         display: flex;
//         flex-direction: column;
//     }

//     &__title {
//         color: $color-dark-l;
//         text-align: center;
//         @include h3();

//         span {
//             display: block;
//         }
//     }

//     &__content {
//         margin-top: 60px;
//         display: flex;
//         flex-wrap: wrap;
//         align-items: center;
//         justify-content: center;
//         column-gap: 120px;
//         row-gap: 55px;
//     }

//     &__item {
//         display: flex;
//         flex-direction: column;        

//         &-title {
//             margin-top: 3rem;
//             color: $color-dark-l;
//             text-align: center;
//             @include h4();
//         }
//     }

// }

// .donation {
//     margin-top: 83px;
//     margin-bottom: 104px;

//     &__wrapper {
//         display: flex;
//         justify-content: center;
//     }

//     &__image-wrapper {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     &__content {
//         display: flex;
//         flex-direction: column;
//         margin-left: 30px;
//         max-width: 380px;
//         align-items: flex-start;
//     }

//     &__title {
//         color: $color-dark-l;
//         @include h3();

//         span{
//             display: block;
//         }
//     }

//     &__subtitle {
//         margin-top: 20px;
//         color: $color-dark-l;
//         @include h5();
//     }

//     &__payment{
//         @include button_primary();
//         margin-top: 20px;
//         padding: 10px 15px;
//         border-radius: 10px;
//         display: flex;

//         &-text{
//             padding-left: 15px;
//             text-decoration: none;
//             color: $color-dark-l;
//             @include h4();
//         }
//     }

//     &__description{
//         margin-top: 20px;
//         color: $color-dark-m;
//         @include paragraph-s()
//     }


// }

// .footer {
//     padding-top: 40px;
//     background: $footer-gradient-background;

//     &__content {
//         flex: 1;
//         display: flex;
//         justify-content: space-between;
//         margin-top: 16px;
//         margin-bottom: 60px;
//         padding-right: 166px;
//     }
    
    
//     &__contacts {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
        
//         &-title{
//             @include h3;
//             color: $color-light-xl;
            

//             span{
//                 display: block;
//             }
//         }

//         &-email,
//         &-phone {
//             display: flex;
//             align-items: center;
                        
//             &-text {
//                 margin-left: 20px;
//                 @include h4();
//                 color: $color-primary;
//                 text-decoration: none; 
//             }
//         }
//     }

//     &__locations {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         &-title{
//             @include h3;
//             color: $color-light-xl;

//             span {
//                 display: block;
//             }
//         }

//         &-address {
//             display: flex;
//             align-items: center;

//             &-text {
//                 margin-left: 20px;
//                 @include h4();
//                 color: $color-primary;

//                 span {
//                     display: block;
//                 }                                
//             }
            
//         }

//         &-place {
//             display: flex;
//             align-items: center;
                                    
//             &-text {
//                 margin-left: 20px;
//                 @include h4();
//                 color: $color-primary;                                 
//             }
//         }
//     }
// }