$color-background: #000000;
$color-primary: #2f2f2f;
$color-border: #686868;

$color-font-grey: #bdbdbd;
$color-font-red: #E60000;

$color-shadow: rgba(0,0,0,.2);
$color-box-shadow: rgba(0,0,0,.3)

// $card-hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
