/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.countries-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2f2f;
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
  min-height: 100%;
}
.countries-cases__title {
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #bdbdbd;
  font-size: 0.6rem;
}
.countries-cases__title span {
  display: block;
  align-items: center;
  justify-content: center;
}
.countries-cases__content {
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  color: #E60000;
}

.global-cases {
  display: flex;
  background-color: #2f2f2f;
  height: 100%;
  flex-grow: 1;
  max-width: 25rem;
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}
.global-cases__title {
  display: flex;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #E60000;
  color: white;
  font-size: 1rem;
}
.global-cases__volume {
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #E60000;
  font-size: 2rem;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
  display: flex;
  min-height: 60px;
  background-color: #2f2f2f;
  padding: 0.4rem;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #bdbdbd;
}

.header-content {
  display: flex;
}

.header-slider {
  width: 22rem;
  display: flex;
  justify-content: space-between;
}

.slider-title {
  display: flex;
  font-size: 0.8rem;
}

.slider-header {
  align-self: center;
  position: relative;
  transform: translate(-50%, -50%);
}

input[type=checkbox] {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 1px;
  -webkit-appearance: none;
  background: #686868;
  outline: none;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type=checkbox] {
  background: #000000;
}

input[type=checkbox]:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  top: 0;
  left: 0;
  background: #E60000;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type=checkbox]:before {
  left: 25px;
}

.slider-global-cases {
  display: flex;
  width: 10rem;
  justify-content: center;
  margin: 0.2rem;
  border: none;
}
.slider-global-cases__right, .slider-global-cases__left {
  cursor: pointer;
  background-color: #bdbdbd;
  outline: none;
  border: none;
  width: 1rem;
  height: 1rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: #2f2f2f;
  border-radius: 1px;
}
.slider-global-cases__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #686868;
  width: 100%;
  color: #2f2f2f;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.slider-global-cases__right:hover, .slider-global-cases__left:hover {
  transition: 0.5s;
  background-color: #E60000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.slider-countries-cases {
  display: flex;
  width: 10rem;
  justify-content: center;
  margin: 0.2rem;
  border: none;
}
.slider-countries-cases__right, .slider-countries-cases__left {
  cursor: pointer;
  background-color: #bdbdbd;
  outline: none;
  border: none;
  width: 1rem;
  height: 1rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: #2f2f2f;
  border-radius: 1px;
}
.slider-countries-cases__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #686868;
  width: 100%;
  color: #2f2f2f;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.slider-countries-cases__right:hover, .slider-countries-cases__left:hover {
  transition: 0.5s;
  background-color: #E60000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
  width: 100%;
  min-height: 100%;
  background-color: #2f2f2f;
  flex-grow: 3;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #686868;
}

.country__flag {
  width: 50px;
}

.table__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 2px;
}

.table__country {
  width: 30%;
}

.table__wrapper {
  overflow-y: scroll;
  height: 75vh;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
  display: flex;
  min-height: 50px;
  background-color: #2f2f2f;
  padding: 0.4rem;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #bdbdbd;
  font-size: 1rem;
}

.rs-logo {
  display: flex;
  height: 40px;
}

.copyright {
  display: flex;
}

.author {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}
.author a {
  text-decoration: none;
  color: #E60000;
}
.author a:hover {
  cursor: pointer;
}

.chart {
  display: flex;
  flex-direction: column;
}

.canvas {
  width: 300px;
  height: 250px;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.arrow__legend {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#slider {
  width: 300px;
  height: 250px;
  margin: 20px auto;
  overflow: hidden;
}

#polosa {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

#polosa::after {
  content: "";
  display: block;
  clear: both;
}

button {
  background-color: transparent;
  border: none;
}

:root {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #000000;
}

.main-wrapper {
  min-width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.details-wrapper {
  display: flex;
  flex-grow: 2;
  min-width: 420px;
  flex-direction: column;
  min-height: 100%;
}
.details-wrapper .global-cases {
  display: flex;
  flex-direction: column;
  height: 8rem;
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
}
.details-wrapper .global-cases__title {
  display: flex;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #bdbdbd;
  font-size: 1rem;
  background-color: #2f2f2f;
}
.details-wrapper .global-cases__volume {
  display: flex;
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #E60000;
  height: 100%;
  background-color: #2f2f2f;
}
.details-wrapper .chart {
  margin: 0.2rem;
  border: solid 0.05rem #686868;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #686868;
  height: 100%;
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .main-wrapper {
    max-height: 100vh;
    max-width: 100%;
  }

  .header-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    max-width: 100%;
  }

  .details-wrapper {
    flex-grow: 1;
    min-width: 30%;
    max-height: 100%;
    max-width: 100%;
  }

  .map {
    max-height: 100%;
    max-width: 100%;
  }

  .table__wrapper {
    max-height: 100%;
    max-width: 100%;
  }

  .canvas {
    width: 260px;
    height: 200px;
  }

  .global-cases {
    max-height: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1000px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    border-style: none;
    margin: 0;
  }

  .main-wrapper {
    width: 100%;
    border-color: #2f2f2f;
    border-style: none;
  }

  .content-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #2f2f2f;
    border-style: none;
  }

  .countries-cases {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
  }

  .table__wrapper {
    min-width: 100%;
    border-style: none;
  }

  .footer-wrapper {
    flex-direction: column;
    margin: 0;
    border-style: none;
  }

  .global-cases, .map {
    border-style: none;
    border-color: #2f2f2f;
  }

  .details-wrapper .chart {
    border-style: none;
    border-color: #2f2f2f;
  }
}

/*# sourceMappingURL=style.css.map */
