.country__flag {
    width: 50px;
}

.table__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 2px;
}

.table__country {
    width: 30%;
}

.table__wrapper {
    overflow-y: scroll;
    height: 75vh;
    width: 100%;
}

.countries__search {
    background-color: $color-font-grey;
    border-radius: 1px;
    outline: none;
}