.map {
    display: flex;
    align-items: center;
    justify-content: center;
    @include border();
    width: 100%;
    min-height: 100%;
    background-color: $color-primary;
    flex-grow: 3;
    @include add_information;
    z-index: 10;
}